* {
  box-sizing: border-box;
}

.blogItem {
  flex: 1;
  /* width: 30%; */
  /* width: calc(calc(100% - 20px) / 3); */
  max-width: calc(calc(100% - 20px) / 3);
  min-width: 30%;
  background: #333333;
  display: flex;
  margin: 5px;
  padding-bottom: 10px;
  border-radius: 15px;
}

#postContainer {
  flex-direction: column;
  flex-grow: 1;
  margin: 5px 5px 1px 5px;
  display: flex;
}

#postTitle {
  font-family: "PT Sans";
  cursor: pointer;

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  /* text-align: justify; */
  line-height: 31px;
  color: #bea322;
}

#postContent {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  color: #b8b8b8;
  margin-bottom: 5px;
  height: 100%;
}

#postImage {
  object-fit: cover;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}

#postInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 15px;
}

#postCategory {
  font-family: "PT Sans";
  cursor: pointer;

  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height */
  text-decoration-line: underline;
  text-align: left;
  color: #b8b8b8;
}

#postDate {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height */

  text-align: right;

  color: #b8b8b8;
}

@media (max-width: 640px) {
  .blogItem {
    min-width: 100%;
    margin: 5px 0px;
  }
  #postInfo {
    /* display: none; */
  }
  #postContent {
    font-size: 18px;
  }
}
