* {
  box-sizing: border-box;
}

#contentContainer {
  display: flex;
  /* justify-content: center; */
}

#mainFiller {
  max-width: 1400px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#mainFillerContainer {
  width: 100%;
  min-height: 73%;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

#mainContainer {
  margin: 0px 10px;
  min-height: 73%;
  width: 100%;
}

@media (min-width: 300px) {
  #mainContainer {
    margin: 0px max(15px, calc(5% - 5px));
  }
}

#pageFiller {
  height: 100%;
  position: absolute;
  left: 0px;
  width: 100%;
  overflow: auto;
  background: #393939;
}

#mainLoadMoreButton {
  width: calc(calc(100% - 20px) / 3 - 5px);
  /* width: 30%; */
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #b8b8b8;
  background: #191919;
  margin: auto;
  height: 100%;
  cursor: pointer;
}

@media (max-width: 500px) {
  #mainLoadMoreButton {
    width: 60%;
  }
}

#mainLoadMoreButtonContainer {
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-items: center;
  margin-top: 15px;
  height: 40px;
}

#contentGrid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  flex-direction: row;
  /* desktop remain gap: 20px */
}
/* 
@supports (gap: 10px) with (display: flex) {
  #contentGrid {
    margin: 0px;
    gap: 10px;
  }
} */

#header {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 83px;
  color: #bea322;
  margin-top: 25px;
  margin-bottom: 5px;
}

@media (max-width: 500px) {
  #header {
    display: none;
  }
  #contentContainer {
    margin-top: 15px;
  }
}
