#bigPostRoot {
  width: 100%;
  display: flex;
  background: #333333;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  border-radius: 15px;
}

@supports (display: flex; gap: 10px) {
  #bigPostRoot {
    margin: 0px;
  }
}

#bigPostContainer {
  margin: 5px;
  display: flex;
  flex: 1;
  flex-direction: row;

  /* background: red; */
}

#bigPostImage {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
}

@media (min-width: 750px) {
  #bigPostImage {
    max-width: calc(50% - 15px);
  }
}

#bigPostTextContainer {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 100%;
}

#bigPostAnnotation {
  font-size: min(max(20px, 2.5vw), 24px);
  color: #b8b8b8;
  height: 100%;
}

#bigPostInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 20px;
}

#bigPostCategory {
  font-family: "PT Sans";
  cursor: pointer;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;
  /* identical to box height */
  text-decoration-line: underline;
  text-align: left;
  color: #b8b8b8;
}

#bigPostTitle {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: max(36px, min(48px, 15vw));
  cursor: pointer;

  line-height: 62px;

  color: #bea322;
}

#bigPostDate {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;
  /* identical to box height */

  text-align: right;

  color: #b8b8b8;
}

@media (max-width: 750px) {
  #bigPostRoot {
    justify-content: center;
  }
  #bigPostContainer {
    flex-direction: column;
  }
  #bigPostTextContainer {
    margin-left: 0px;
  }
  #bigPostAnnotation {
    margin-top: 5px;
  }
  #bigPostDate {
    /* display: none; */
  }
  #bigPostCategory {
    /* display: none; */
  }
}
