#editPostPreview {
  width: calc(50% - 15px);
}

#editPostTopContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  max-height: 500px;
}

.editPostContRow {
  display: flex;
  margin: 10px 0px;
}

.editPostInput {
  width: 300px;
  margin: 0px 5px;
}

.editPostText {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-indent: 5px;
  color: #b8b8b8;
}

.editPostSymbolCounter {
}

.editPostTinyText {
  font-size: 18px;
}

.blackText {
  color: #000000;
}

#editPostSubmit {
  background: #191919;
  border-radius: 5px;
  border-width: 0px;
  height: 50px;
  width: 250px;
  display: flex;
  justify-content: center;
}

#editPostBottomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 80%;
}

#imagePreview {
  width: 100%;
  object-fit: contain;
}

#editPostTextareaContainer {
  width: 80%;
  min-height: 500px;
}
#editPostTextarea {
  width: 100%;
  height: calc(100% - 25px);
  background: rgba(51, 51, 51, 0.8);
  color: #b8b8b8;
  font-size: min(24px, max(1.8vw, 18px));
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  border-width: 0px;
}
