#backButtonMainContainer {
  position: fixed;
  height: 100%;
  left: 0;
  top: 7%;
  width: min(4%, 250px);
  margin-right: max(-4%, -250px);
}

/* Variant #2 */
/* #backButtonMainContainer { 
  flex: 1;
  width: min(4%, 120px);
  margin-right: max(-4%, -120px);
}

@media (min-width: 1400px) {
  #backButtonMainContainer {
    position: fixed;
    height: 100%;
    left: 0;
    top: 7%;
  }
} */

#backButtonSliding {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: calc(30px+50px);
  /* background: rgb(209, 209, 209); */
  background: rgba(25, 25, 25, 0.2);
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);

  transform: translate3d(-100%, 0, 0);
}

#backButtonMainContainer:hover #backButtonSliding,
#backButtonMainContainer:hover #backButtonArrowContainer {
  transform: translate3d(0, 0, 0);
}

#backButtonArrow {
  max-width: 100%;
}
#backButtonArrowContainer {
  position: fixed;
  top: 10%;
  left: calc((min(4%, 250px) - (min(4%, 250px) * 0.6)) / 2);
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);

  max-width: calc(min(4%, 250px) * 0.6);
  transform: translate3d(-200%, 0, 0);
}
