body {
  background-color: #393939;
}

#headerFiller {
  width: 100%;
  background: #1a1a1a;
  display: flex;

  position: sticky;
  top: 0;
  justify-content: center;
  height: min(60px, max(7%, 40px));
}

.root {
  height: 100%;
  width: 100%;
  max-width: 1400px;
  background: #1a1a1a;
  flex-direction: row;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
}
.halfSplit {
  /* flex: 1; */
}
.logo {
  object-fit: contain;
  height: 100%;
  max-height: 40px;
  cursor: pointer;
}
.btnRow {
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  display: flex;
  flex: 1;
  /* background: red; */

  width: 100%;
}

.text {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
}

.btnText {
  cursor: pointer;
  font-size: min(24px, max(1.7vw, 18px));
  display: flex;
  align-items: center;
  text-indent: 5px;
  color: #b8b8b8;
  margin-left: 15px;
  text-align: justify;
}

.mobileCat {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}

#logoRow {
  justify-content: flex-start;

  align-items: center;
  margin-left: 15px;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#btnRow {
  align-self: center;
  margin-right: 15px;
}

@media (min-width: 300px) {
  #logoRow {
    margin-left: calc(5% + 5px);
  }
  #btnRow {
    margin-right: calc(5% + 5px);
  }
}

#textLogo {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  text-indent: 5px;
}

#phyText {
  height: 100%;
  font-size: min(36px, max(4.5vh, 24px));
  color: #b8b8b8;
  cursor: pointer;
}

#sixText {
  font-size: min(36px, max(4.5vh, 24px));
  background: #bea322;
  color: #1a1a1a;
  border-radius: 1px;
  cursor: pointer;
}

#mobileTitle {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-indent: 5px;
  justify-content: center;
  color: #bea322;
}

#headerMobileContainer {
  display: flex;
  height: 100%;
  width: 100%;
  padding-left: calc(5%);
  flex-direction: row;
  align-items: center;
}

@media (max-width: 300px) {
  #headerMobileContainer {
    padding-left: 15px;
  }
}

#headerMobileMenuIcon {
  margin-right: 15px;
  max-width: 30px;
  max-height: 30px;
  display: flex;
}

#headerMobileArrowIcon {
  margin-right: 25px;
  max-width: 20px;
  max-height: 20px;
  display: flex;
}

#headerMobile {
  position: sticky;
  top: 0px;
  width: 100%;
  height: max(7%, 40px);
}

#headerMobileFiller {
  width: 100%;
  background: #1a1a1a;
  display: flex;

  position: sticky;
  top: 0;
  justify-content: center;
  height: 100%;
}

#headerMenu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  display: flex;
}

#headerMenu.hide {
  transform: translate3d(-100vw, 0, 0);
}
#headerMenu.show {
  transform: translate3d(0, 0, 0);
}

#menuBody {
  width: 80%;
  height: 100%;
  background: #1a1a1a;
}

.mobileBtn {
  font-size: 24px;
}
