.footerTitle {
  color: #bea322;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 18px;
  margin-top: 10px;
}

.footerText {
  width: 30%;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #b8b8b8;
}

@media (max-width: 500px) {
  .footerTitle {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 5px;
  }
  .footerText {
    font-size: 12px;
    line-height: 16px;
  }
}

.link {
  text-decoration-line: underline;
  cursor: pointer;
}

#links {
}

@media (max-width: 500px) {
  #links {
    flex: 1;
  }
}

.socialLogo {
  height: 40px;
  /* width: 40px; */
  margin: 5px 0px 11px 0px;
  /* margin-top: 8px; */
}

#footerGrid {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0px calc(5% + 5px);
  flex: 1;
}
#copyrightText {
  position: relative;
  text-align: center;
  margin-bottom: 6px;
  margin-top: 12px;
  color: #b8b8b8;
}
#contacts {
  text-align: center;
}
@media (max-width: 500px) {
  #contacts {
    text-align: right;
    flex: 1;
  }
  .socialLogo {
    height: 30px;
    margin: 2px 5px 0px 5px;
  }
}

#social-networks {
  text-align: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: 500px) {
  #social-networks {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.footerMarginLink {
  margin-bottom: 5px;
}

#footerLogoRows {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

#footerFiller {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#mobileSocialNetworksContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
