#pageFiller {
  height: 100%;
  position: absolute;
  left: 0px;
  width: 100%;
  overflow: auto;
  background: #393939;
}

#postMainContainer {
  width: 100%;
  margin: 30px max(15px, calc(5% - 5px));
}

@media (min-width: 640px) and (max-width: 940px) {
  .boxContainer {
    margin: 0px 5%;
  }
}

@media (min-width: 940px) {
  .boxContainer {
    margin: 0px 10%;
  }
}

.boxContainer {
  background: rgba(51, 51, 51, 0.8);
  color: #b8b8b8;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: min(24px, max(1.8vw, 18px));
  text-align: justify;
  text-indent: 10px;
}

#title {
  margin-bottom: 17px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: max(24px, min(7.7vw, 64px));
  /* line-height: 83px; */
  color: #bea322;
}

#dataContainer {
  margin-top: 25px;
  margin-bottom: 25px;
}

#textBox {
  margin: 0px 5px;
}

#postBottomPanel {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#recommendationHalf {
  max-width: 50%;
}

@media (max-width: 680px) {
  #postBottomPanel {
    flex-direction: column;
  }
  #recommendationHalf {
    max-width: 100%;
  }
}

#recommendationRow {
  display: flex;
  margin-left: -5px;
}

a:link {
  color: #bea322;
  text-decoration-line: none;
}

a:visited {
  color: #bea322;
  text-decoration-line: none;
}

.recommendationBlogItem {
  flex: 1;
  /* width: 30%; */
  /* width: calc(calc(100% - 20px) / 3); */
  background: #333333;
  display: flex;
  margin: 5px;
  min-width: 0;
}

@media (min-width: 500px) {
  .recommendationBlogItem {
    max-width: 50%;
  }
}

#alsoRecommend {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: min(48px, max(24px, 4vw));
  line-height: 62px;

  color: #b8b8b8;
}


