#licenseMeme {
  padding: 5px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

#licenseMemeImg {
  object-fit: contain;
  width: 100%;
}

.subtitle {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  text-indent: 10px;
  color: #bea322;
}

#licenseTextBox {
  margin: 0px 5px;
}

#licenseTextBox p {
  margin: 0;
  text-indent: 25px;
}
